@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.nighttime {
  background: url("Images/after-sunset.png");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.daytime {
  background: url("Images/day.png");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  font-family: "Rowdies";
}
